<ion-view>
    <ion-nav-bar class="bar-assertive bar-orange">
        <ion-nav-buttons side="left">
            <button class="button button-clear  ion-arrow-left-c  " ng-click="backButton()"></button>
            <div class="title title-left header-item">MFG365</div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <div class="content">
            <div class="container page-sitemap">
                <!-- <div class="im-wrapper"> -->
                <h4 class="heading-text heading-margin"> Team Formation</h4>

                <ion-tabs class="tabs-calm tabs-icon-only">
                    <ion-tab title="WK(0)" ng-click="setSlide(0);">
                    </ion-tab>
                    <ion-tab title="BAT(0)" ng-click="setSlide(1);">
                    </ion-tab>
                    <ion-tab title="AR(0)" ng-click="setSlide(2);">
                    </ion-tab>
                    <ion-tab title="BOWL(0)" ng-click="setSlide(3);">
                    </ion-tab>
                </ion-tabs>
                <!-- </div> -->
<br/>
                <div class="row">
                        <div class="col-md-50"><h5 class="h5-player">Players</h5></div>
                        <div class="col-md-15"><h5 class="h5-player">Points</h5></div>
                        <div class="col-md-35"><h5 class="h5-player">Credits</h5></div>
                    </div>

                <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" active-slide="activeSlide">


                    <ion-slide>
                        <div class="row">
                            <div class="col-md-20">
                                <img src="img/arya.jpg" class="img-avatar">
                            </div>
                            <div class="col-md-30">
                                <p class="player_name">Dhoni</p>
                                <p class="player_type">WK</p>

                            </div>
                            <div class="col-md-15">
                                <p class="player_point">98</p>
                            </div>
                            <div class="col-md-15">
                                <p class="player_point">9.0</p>
                            </div>
                            <div class="col-md-20">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="registerUser.tandc" name="terms" required />
                                </label>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col-md-20">
                                <img src="img/arya.jpg" class="img-avatar">
                            </div>
                            <div class="col-md-30">
                                <p class="player_name">Kohli</p>
                                <p class="player_type">BAT</p>

                            </div>
                            <div class="col-md-15">
                                <p class="player_point">179</p>
                            </div>
                            <div class="col-md-15">
                                <p class="player_point">10.5</p>
                            </div>
                            <div class="col-md-20">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="registerUser.tandc" name="terms" required />
                                </label>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col-md-20">
                                <img src="img/arya.jpg" class="img-avatar">
                            </div>
                            <div class="col-md-30">
                                <p class="player_name">Hardik Pandya</p>
                                <p class="player_type">AR</p>

                            </div>
                            <div class="col-md-15">
                                <p class="player_point">88</p>
                            </div>
                            <div class="col-md-15">
                                <p class="player_point">9.5</p>
                            </div>
                            <div class="col-md-20">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="registerUser.tandc" name="terms" required />
                                </label>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col-md-20">
                                <img src="img/arya.jpg" class="img-avatar">
                            </div>
                            <div class="col-md-30">
                                <p class="player_name">Buhmra</p>
                                <p class="player_type">BOWL</p>

                            </div>
                            <div class="col-md-15">
                                <p class="player_point">118</p>
                            </div>
                            <div class="col-md-15">
                                <p class="player_point">10.0</p>
                            </div>
                            <div class="col-md-20">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="registerUser.tandc" name="terms" required />
                                </label>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>






</ion-view>