<ion-content scroll="true">
  <div class="content">
    <div class="container page-sitemap">

      <div class="row">
        <div align="center" class="logo_margin">
          <img src='img/logo.png' width="30%">
        </div>
      </div>

      <ion-tabs class="tabs-calm tabs-icon-only" style="top: 20%">
        <ion-tab title="Signin" ng-click="setSlide(0);">
        </ion-tab>
        <ion-tab title="Signup" ng-click="setSlide(1);">
        </ion-tab>
      </ion-tabs>
      <div class="row row-margin" style="margin-top: 0px;">

        <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" active-slide="activeSlide">
          <ion-slide>

            <!-- <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
          <ion-slide> -->
            <form name="Loginform" novalidate="true" ng-submit="Loginform.$valid && Login(user)">
              <div class="list">
                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Email / Mobile No.</span>
                    <input placeholder="Email / Mobile No." id="useremail" required="true" type="text" name="email" ng-model="user.username"
                      ng-pattern="emailphoneRE">
                  </label>
                  <span class="span-error" ng-show="!Loginform.email.$touched">
                    <span class="error_css" ng-show="Loginform.$submitted && Loginform.email.$error.required"> Email / Mobile No is Required! </span>
                  </span>
                  <span class="span-error" ng-show="Loginform.email.$touched">
                    <span ng-show="Loginform.email.$touched && Loginform.email.$error.pattern && Loginform.email.$invalid || Loginform.email.$error.required "
                      class="error_css">Email / 10 digit Mobile No.</span>
                  </span>
                </div>

                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input placeholder="Password" id="userpassword" required="true" type="password" name="login_password" ng-model="user.passwd"
                      ng-pattern="passwordRE" min="8" minlength="8">
                  </label>

                  <span class="span-error" ng-show="!Loginform.login_password.$touched">
                    <span class="error_css" ng-show="Loginform.$submitted && Loginform.login_password.$error.required"> Password is Required! </span>
                  </span>

                  <span class="span-error" ng-show="Loginform.login_password.$touched">
                    <span ng-show="Loginform.login_password.$touched && Loginform.login_password.$error.pattern && Loginform.login_password.$invalid || Loginform.login_password.$error.required "
                      class="error_css">Password should be min 8 character, including number,alphabets and special character</span>
                  </span>
                </div>
                <div class="btn-center">
                  <button class="button button-block btn-color-orange btn-size">
                    Signin
                  </button>
                </div>
              </div>
            </form>
          </ion-slide>
          <ion-slide>
            <form name="registerform" novalidate="true" ng-submit="registerform.$valid && register(registerUser)">
              <div class="list">

                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input placeholder="Username" id="uname" required="true" type="text" name="uname" ng-model="registerUser.uname" ng-pattern="usernameRE">
                  </label>

                  <span class="span-error" ng-show="!registerform.uname.$touched">
                    <span class="error_css" ng-show="registerform.$submitted && registerform.uname.$error.required">Username is Required! </span>
                  </span>

                  <span class="span-error" ng-show="registerform.uname.$touched">
                    <span ng-show="registerform.uname.$touched && registerform.uname.$error.pattern && registerform.uname.$invalid || registerform.uname.$error.required "
                      class="error_css">Username should be alphabets.</span>
                  </span>
                </div>


                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input placeholder="Email" id="useremail" required="true" type="email" name="email" ng-model="registerUser.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                  </label>
                  <span class="span-error" ng-show="registerform.$submitted && registerform.email.$error.required"> Email is Required! </span>

                  <span class="span-error" ng-show="registerform.email.$touched && registerform.email.$invalid && registerform.email.$error.pattern">Please Enter Valid Email</span>

                </div>

                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Mobile No</span>
                    <input placeholder="Mobile No" id="phone" required="true" type="tel" name="phone" ng-model="registerUser.mobile" ng-pattern="mobilenoRE">
                  </label>

                  <span class="span-error" ng-show="!registerform.phone.$touched">
                    <span class="error_css" ng-show="registerform.$submitted && registerform.phone.$error.required"> Mobile No is Required! </span>
                  </span>

                  <span class="span-error" ng-show="registerform.phone.$touched">
                    <span ng-show="registerform.phone.$touched && registerform.phone.$error.pattern && registerform.phone.$invalid || registerform.phone.$error.required "
                      class="error_css">Mobile No should be 10 digits.</span>
                  </span>
                </div>

                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input placeholder="Password" id="userpassword" required="true" type="password" name="login_password" ng-model="registerUser.passwd"
                      ng-pattern="passwordRE">
                  </label>
                  <span class="span-error" ng-show="!registerform.login_password.$touched">
                    <span class="error_css" ng-show="registerform.$submitted && registerform.login_password.$error.required"> Password is Required! </span>
                  </span>

                  <span class="span-error" ng-show="registerform.login_password.$touched">
                    <span ng-show="registerform.login_password.$touched && registerform.login_password.$error.pattern && registerform.login_password.$invalid || registerform.login_password.$error.required "
                      class="error_css">Password should be min 8 character, including number,alphabets and special character</span>
                  </span>
                </div>

                <div>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Referal Code</span>
                    <input placeholder="Referal Code" id="referalcode" type="text" name="referal" ng-model="registerUser.refcode">
                  </label>
                </div>

                <div class="item item-checkbox">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="registerUser.tandc" name="terms" required />
                  </label>
                  I accept the terms &amp; conditions.
                </div>
                <span class="span-error" ng-show="registerform.terms.$touched || registerform.$submitted && registerform.terms.$invalid">
                  <span ng-show="registerform.terms.$touched && registerform.terms.$invalid || registerform.terms.$error.required" class="error_css">Terms & Conditions is required!</span>
                </span>

                <div class="btn-center">
                  <button class="button button-block btn-color-orange btn-size">
                    Signup
                  </button>
                </div>
              </div>
            </form>
          </ion-slide>
        </ion-slide-box>

      </div>
    </div>
  </div>
  </div>
</ion-content>