/* Empty. Add your own CSS if you like */
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}

.btn-color-orange{
    border-color: #ff6700 !important;
    background-color: #ff6700 !important;
    color: #fff !important;
}
.btn-size{
    width: 60% !important;
    border-radius: 10px;
}
.btn-center{
    text-align: center ! important;
}
.span-error{
    color: red;
    margin: 10px;
}

.nav_tabs { color: #000; border-bottom: none; }

.nav_tabs.light .nav_bottom { color: #ffffff; }

.nav_tabs .nav_bottom { 
  line-height: 24px; 
  font-size: 12px; -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; -ms-border-radius: 2px; 
  border-radius: 2px; border: none; vertical-align: middle;
   font-family: 'Noto Sans' ! important;
    }

.active { 
  border-bottom: 4px solid #ff6700 ! important;
   background: #fff ! important;
   color: black ! important; 
   font-weight: 600;
 }
.row-margin{
    margin-left: auto ! important;
    margin-right: auto ! important;
    padding: 20px ! important;
    padding-top: 5px ! important;
}
.logo_margin{
    margin-top: 20px ! important;
}

.checkbox input:before, .checkbox-icon:before {
    border-radius: 0px ! important;
    border-color: #ff6700 ! important;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #ff6700 ! important;
    border-color: #ff6700 ! important;
}

.tabs-striped.tabs-calm .tabs {
    background-color: #fff ! important;
    top: 20% ! important;
    border-bottom: none ! important;
    box-shadow: none ! important;
    position: inherit;
}
.tabs-striped.tabs-calm .tab-item.tab-item-active, .tabs-striped.tabs-calm .tab-item.active, .tabs-striped.tabs-calm .tab-item.activated {
    margin-top: -2px;
    color: #ff6700 ! important;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #ff6700;
}
.tabs-striped.tabs-calm .tab-item {
    color: #ff6700;
}
.scroll-bar-indicator {
    background: rgb(255, 255, 255) ! important;
}
.img-avatar{
    border-radius: 50%;
    left: 16px;
    max-height: 40px ! important;
    max-width: 40px ! important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-20{
    flex: 0 0 20% ! important;
      max-width:20% ! important;
  }
  .col-md-30{
    flex: 0 0 30% ! important;
      max-width:30% ! important;
  }
  .col-md-15{
    flex: 0 0 15% ! important;
      max-width:15% ! important;
  }

  .col-md-50{
    flex: 0 0 50% ! important;
      max-width:50% ! important;
  }

  .col-md-35{
    flex: 0 0 35% ! important;
      max-width:35% ! important;
  }

.list-bg{
    margin: 0px ! important;
    background: #fff ! important;
    margin-bottom: 10px ! important;
}
.team-left{
    text-align: left ! important;
    margin-top: 25% ! important;
    color: black;
    font-weight: 600;
    font-size: 12px;
}
.team-right{
    text-align: right ! important;
    margin-top: 25% ! important;
    color: black;
    font-weight: 600;
    font-size: 12px;
}
.time-count{
    text-align: center ! important;
    color: red ! important;
    font-weight: 600 ! important;
    margin-top: 12% ! important;
    font-size: 12px;
}
h4.heading-text{
    color: #111;
    font-size: 16px;
    font-weight: 700;
}
.content-bg{
    background: #f1f1f1  ! important;
}
  
.title-left, .title-right, .title.title-left, .title.title-right {
    left: 40px ! important;
}
.dropdown-header{
    margin-left: 100px ! important;
    background: #ff6700 ! important;
    border: 1px solid white ! important;
    padding: 0px ! important;
    color: white ! important;
    height: 25px ! important;
    margin-top: 10px ! important;
}
.games-text{
    margin-left: 100px ! important;
    color: white ! important;
    margin-top: 7% ! important;
}
.level-h2{
    margin-top: 0px ! important;
    text-align: center ! important;
    color: black ! important;
    font-weight: 600 ! important;
}
.bar-orange{
    border-color: #ff6700 ! important;
    background: #ff6700 ! important;
}
.p-text{
    margin: 0px 0px 5px 0px! important;
    font-size: 11px ! important;
}
.h2-text{
    font-size: 22px ! important;
    font-weight: 600 ! important;
    color: black ! important;
    margin-top: 5px ! important;
}
.label {
    color: white;
    padding: 8px;
    font-family: Arial;
  }
  .success {background-color: #33cd5f;}
  .amt-label{
    border-radius: 5px ! important;
    padding: 5px 25px ! important;
  }
  .contest-name{
    font-size: 19px ! important;
    margin-top: 0px ! important;
    text-transform: capitalize ! important;
    color: #ff6700 ! important;
  }
  .row-btm{
    border-bottom: 1px solid #ccc ! important;
    margin-bottom: 5px ! important;
  }
  .row{
    margin-right: 0px ! important;
    margin-left: 0px ! important;
  }
  .progress-bar{
    background-color: #ff6700 ! important;
  }
  .progress{
      height: 0.5rem ! important;
  }
  .spots-right{
    float: right ! important;
    font-size: 11px ! important;
    color: #28a54c ! important;
    padding-top: 3px ! important;
  }
  .spots-left{
    color: #ff6700 ! important;
    font-size: 11px ! important;
  }
  .prize-left{
    padding: 5px; 
    float: left
  }
  .entry-right{
    padding: 5px; 
    float: right
  }

  .ionic_float_label{
    color: white ! important;
    background: #ff6700 ! important;
    text-transform: capitalize ! important;
    font-size: 10px ! important;
  }
  .player_name{
    font-size: 12px ! important;
    font-weight: 600 ! important;
    padding-top: 5px ! important;
    text-transform: capitalize ! important;
    margin-bottom: 1px ! important;
  }
  .player_type{
      font-size: 11px ! important;
      color: #696666 ! important;
      margin-bottom: 1px ! important;
  }
  .player_point{
    text-align: center ! important;
    margin-top: 25% ! important;
    color: black;
    font-weight: 600;
    font-size: 12px;
}
.heading-margin{
    margin-top: 15px;
}
.h5-player{
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}